img#logo {
width: 300px;
margin-left: 25px;

}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;

  background: radial-gradient(circle at 20% 20%, #ff66c4, transparent 40%),
              radial-gradient(circle at 80% 30%, #00c6ff, transparent 40%),
              radial-gradient(circle at 40% 80%, #ffd36b, transparent 40%),
              radial-gradient(circle at 40% 80%, rgb(224, 11, 224), transparent 40%),
              #ffffff; 
  background-size: 200% 200%;
  animation: floatColors 10s ease-in-out infinite;

  
  overflow-x: hidden; 
}

@keyframes floatColors {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}





header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

header a {
  text-decoration: none;
  color:#e20c82;
  font-weight: bolder;
  margin-left: 75px;
  margin-top: 50px;
  font-size: xx-large;
  font-family: 'K26ComicKats', sans-serif;
}

header a:hover {
  text-decoration: underline;
}

.container {
    display: flex;
    gap: 40px;
 
}


.card {
  width: 270px;
  height: 470px;

  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
 font-family: "BPG Irubaqidze", monospace, sans-serif;
  position: relative;
   transition: transform 0.3s ease, box-shadow 0.3s ease; 
   overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);



 
}


.didi {
  display: flex;
  gap: 25px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.img-box {
  position: relative;
  object-fit: cover;
}

.img-box img {
 
  height: 220px;
  object-fit: cover;
   width: 220px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  margin: 20px;
  transition: transform 0.3s ease;
  padding: 10px;
  box-sizing: border-box;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: gold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  
}

.fav {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.content {
  padding: 10px 15px;
}

.content h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #ece118; 
}

.content h3 span {
  color:  #e20c82;
  font-weight: bold;
}

.content p {
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
}

.price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.price .old {
  text-decoration: line-through;
  color: #999;
}

.price .new {
  font-weight: bold;
  color: #ff6600;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 5px;
}

.footer {
  background: #f9f9f9;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #666;
}

.footer .count {
  background: #ed32e7;
  color: white;
  border-radius: 8px;
  padding: 2px 8px;
  font-weight: bold;
}


.hidden {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: white;
  padding: 15px;
  transition: bottom 0.4s ease;
  font-size: 14px;
  color: #444;
}


.card:hover .hidden {
  bottom: 0;
}


.card:hover .info {
  transform: translateY(-30px);
}





footer {
  background-color:  #ce398b;; 
  color: #333; 
  text-align: center;
 height: 100px;
  
  border-top: 4px solid #ed9cc9;  }

footer .footer-content p {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  padding-top: 28px;
}

footer .footer-content small {
  color: #555;
  font-size: 0.9rem;
  
}

h4 {
font-family:"BPG Irubaqidze", monospace, sans-serif;
}

img#gg {
  width: 450px; 
}




footer {
 background-color: #e989d9;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 7px;
  height: 50px;
  font-size: 17px;
  font-family: BPG Irubaqidze, monospace, sans-serif;
}
























p#ff {
  font-size: 25px;
}