
.category {
    margin-bottom: 50px;
}

.category h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
    display: block;
}
img#logo {
width: 300px;
margin-left: 25px;

}


h2#kk{
    font-family: "BPG Irubaqidze", monospace, sans-serif;
  color:#e20c82;
}

.social.fb:hover {
    background: #1877F2;
    transform: translateY(-4px) scale(1.08);}
    
.social.ig:hover {
    background: linear-gradient(45deg, #feda75, #d62976, #962fbf, #4f5bd5);
    transform: translateY(-4px) scale(1.08);
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    align-items: center;
    
}
@media (min-width: 1025px) {
    .contact-item {
        font-size: 18px;
    }

    .contact-item i {
        font-size: 22px;
    }

    .social {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }
}

.social {
  
    height:50px;
    border-radius: 50%;
    display: flex;
    width: 50px;
   
    justify-content: center;

    font-size: 18px;
    color: white;
    text-decoration: none;

    background: #222;
    transition: 0.3s ease;
}



h2#gg{
    font-family: "BPG Irubaqidze", monospace, sans-serif;
  color:#e20c82;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;

  background: radial-gradient(circle at 20% 20%, #ff6ddb, transparent 40%),
              radial-gradient(circle at 80% 30%, #00c6ff, transparent 40%),
              radial-gradient(circle at 40% 80%, #ffd36b, transparent 40%),
              radial-gradient(circle at 40% 80%, rgb(224, 11, 224), transparent 40%),
              #ffffff; 
  background-size: 200% 200%;
  animation: floatColors 10s ease-in-out infinite;

  
  overflow-x: hidden; 
}

@keyframes floatColors {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}



.mtliani {
  display: flex;
  gap: 15px;
 
}

h1#ll {
       font-family: "BPG Irubaqidze", monospace, sans-serif;
      
}
header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

header a {
  text-decoration: none;
  color:#e20c82;
  font-weight: bolder;
  margin-left: 75px;
  margin-top: 50px;
  font-size: xx-large;
  font-family: 'K26ComicKats', sans-serif;
}

header a:hover {
  text-decoration: underline;
}

.container {
    display: flex;
    gap: 40px;
 
 
}

p#ff {
   font-size: large;
}















.footer {
  background: #f9f9f9;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #666;
}

.footer .count {
  background: #ed32e7;
  color: white;
  border-radius: 8px;
  padding: 2px 8px;
  font-weight: bold;
}


footer {
  background-color:  #ed9cc9 ;
  color: #333; 
  text-align: center;
 height: 100px;
  
  border-top: 4px solid #ed9cc9;  }

footer .footer-content p {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  padding-top: 28px;
}

footer .footer-content small {
  color: #555;
  font-size: 0.9rem;
  
}

h4 {
font-family:"BPG Irubaqidze", monospace, sans-serif;
}